    @import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    .iti__flag {
        background-image: url("/src/images/intl-tel-input-17.0.0/build/img/flags.png");
    }
    
    @media (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
        .iti__flag {
            background-image: url("/src/images/intl-tel-input-17.0.0/build/img/flags@2x.png");
        }
    }
    
    body {
        font-family: 'Rubik', Arial, sans-serif;
    }
    
    .grid-column-1-3 {
        grid-column: 1/3;
    }
    
    @media (max-width:480px) {
        .grid-column-1-3 {
            grid-column: 1;
        }
    }
    
    .swiper-button-prev:after,
    .swiper-rtl .swiper-button-next:after,
    .swiper-button-next:after,
    .swiper-rtl .swiper-button-prev:after {
        color: #34D399;
    }
    
    .swiper-pagination {
        height: 30px;
        top: 0px;
        right: 10px;
        margin: 0;
        /* z-index: 0 !important; */
    }
    
    .swiper-pagination-bullet {
        color: rgb(0, 0, 0) !important;
        padding: 10px 10px;
        background: transparent !important;
        font-size: 15px;
        font-weight: 700;
    }
    
    .swiper-pagination-bullet-active {
        color: rgb(0, 0, 0);
        background: transparent !important;
    }
    
    body>main>div>div:nth-child(4)>div>div.flex.flex-col>div.iti.iti--allow-dropdown>div>div {
        margin-left: 30px;
        ;
    }
    
    .error-bullet {
        color: rgb(228, 27, 27) !important;
    }